@using Sportverein.Shared.Models;
@model  CourseEvent
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

@if(Model is null)
{
    <h1>Could not find the Event you are trying to edit</h1>
    <a href="/events" class="btn btn-primary mb-3">Back</a>
}
else
{
    <form method="post" action="/events/@Model.ID/update">
        <div class="mb-2">
            <label asp-for="Description" class="form-label"></label>
            <input class="form-control" asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Date" class="form-label"></label>
            <input class="form-control" asp-format="{0:dd.MM.yyyy HH:mm}" asp-for="Date">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/events" class="btn btn-primary">Back</a>
    </form>
}